**/.cache.mk
**/*.cmd
**/*.o
**/modules.order
**/Module.symvers
**/*.mod.[co]
**/.tmp_versions
**/*.ko
**/*.log
**/*.tmp
/.vscode/ipch
**/*.o.ur-safe
/*.img
/test/**
/*.log
/log.txt
/*.secondfs
/gdb.tmp.s

